<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" a href="css/bootstrap.css"/>
    <script src="js/bootstrap.js"></script>
    <title>Admin's username</title>
</head>

<title>Admin's username</title>
</head>
<body>


    <div class="jumbotron text-center">
        <h1>Admin's username</h1>

</div>


<div class="mx-auto" style="width: 200px;">

    <div class="form-group">
      </div>
  <button type="button" class="btn btn-secondary btn-lg">Create Student</button>
  <div class="form-group">
</div>


  <button type="button" class="btn btn-primary btn-lg">Create Professor</button>

</div>

</body>
</html>
