<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
<!--    <link rel="stylesheet" a href="css/bootstrap.css"/>-->
<!--    <script src="js/bootstrap.js"></script>-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Create Student</title>
<title>Create Student</title>
</head>
<body>
<form action="#" th:action="@{/user/post/student}" th:object="${user}" method="post">
<div class="jumbotron text-left">
    <h1>Create Student</h1>
    <p class="text-success">Enter student's Name and Surname:</p>
    <input type="text" th:field="*{imePrezime}" class="form-control">
    <p class="text-success">Enter student's Index:</p>
    <input type="text" th:field="*{brIndex}" th:name="brIndex" class="form-control" index="index">

    <p class="text-success">Enter student's Email:</p>
    <input type="text" th:field="*{email}" class="form-control">

    <form action="/action_page.php">
        <div class="form-group">
            <label for="usr">Enter student's Username:</label>
            <input type="text" th:field="*{username}" class="form-control" id="usr" name="username">
            <div class="form-group">
                <label for="pwd">Enter student's Password:</label>
                <input type="password" th:field="*{password}" class="form-control" id="pwd" name="password">
            </div>
            <input type="submit" class="btn btn-success">Create</input>
        </div>
    </form>
</div>
</form>

</body>
</html>