<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>

</head>
<body>
<p th:text="${topicQuestions.topicName}"></p>
<form>
    <p th:text="${topicQuestions.id}">
    <div th:each="questiona : ${topicQuestions.questions}">
        <input type="button" th:value="${questiona.text}">
    </div>
</form>
<form action="#" th:action="@{/question/addquestionform}" th:object="${topic}" method="post">
    <input type="hidden" th:value="${topicQuestions.id}" th:id="id" th:name="id">
    <input type="submit" value="add question">
</form>
</body>
</html>