<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" a href="css/bootstrap.css"/>
    <script src="js/bootstrap.js"></script>
    <title>Professor's Name & Surname</title>
</head>
<div class="jumbotron text-center">
        <h1>Professor's Name and Surname</h1>
    </div>
</div>

<div class="mx-auto" style="width: 200px;">

    <div class="form-group">
      </div>
  <button type="button" class="btn btn-dark btn-lg">Subject 1</button>
  <div class="form-group">
</div>
<button type="button" class="btn btn-success btn-lg">Subject 2</button>
  <div class="form-group">
    </div>
<button type="abutton" class="btn btn-secondary btn-lg">Subject 3</button>
<div class="form-group">
</div>
<div class="form-group">
    </div>
<button type="button" class="btn btn-primary btn-lg">Subject 4</button>
<div class="form-group">
</div>
<div class="form-group">
    </div>
<button type="button" class="btn btn-danger btn-lg">Add Subject</button>
<div class="form-group">
</div>

</body>
</html>
