<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" a href="css/bootstrap.css"/>
    <script src="js/bootstrap.js"></script>
    <title>Question</title>
</head>
<body>
  <div class="container">
      <div class="mx-auto" style="width: 200px;">

          <h1 class="display-4">Question text</h1>


                  <div class="radio">
                    <label><input type="radio" name="optradio" checked>Option 1</label>
                  </div>
                  <div class="radio">
                    <label><input type="radio" name="optradio">Option 2</label>
                  </div>
                  <div class="radio disabled">
                    <label><input type="radio" name="optradio" disabled>Option 3</label>




              </div>

              <ul class="pagination">

                    <li><a href="#">1</a></li>
                    <div class="container">

                    <li class="active"><a href="#">2</a></li>
                    <div class="container">

                  </ul>
                </div>
                <div class="container">

                    <div class="mx-auto" style="width: 200px;">
                        <div class="container">

                <button type="button" class="btn btn-primary btn-md">Next</button>

                <button type="submit" class="btn btn-success">Finish</button>


              </body>
              </html>

